# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/recursion/FileContentIndex/022625dc-92af-4bdd-85f1-78c4eac4c76b.vsidx
/.vs/recursion/v17/.suo
/.vs/recursion/v17/Browse.VC.db
/.vs/recursion/v17/Browse.VC.db-shm
/.vs/recursion/v17/Browse.VC.db-wal
/.vs/recursion/v17/Browse.VC.opendb
/.vs/recursion/v17/ipch/AutoPCH/5375c52129e3e253/RECURSION.ipch
/recursion/recursion.vcxproj
/recursion/recursion.vcxproj.filters
/recursion/recursion.vcxproj.user
/recursion/x64/Debug/recursion.exe.recipe
/recursion/x64/Debug/recursion.ilk
/recursion/x64/Debug/recursion.log
/recursion/x64/Debug/recursion.tlog/CL.command.1.tlog
/recursion/x64/Debug/recursion.tlog/Cl.items.tlog
/recursion/x64/Debug/recursion.tlog/CL.read.1.tlog
/recursion/x64/Debug/recursion.tlog/CL.write.1.tlog
/recursion/x64/Debug/recursion.tlog/link.command.1.tlog
/recursion/x64/Debug/recursion.tlog/link.read.1.tlog
/recursion/x64/Debug/recursion.tlog/link.write.1.tlog
/recursion/x64/Debug/recursion.tlog/recursion.lastbuildstate
/recursion/x64/Debug/vc143.idb
/recursion/x64/Debug/vc143.pdb
/recursion.sln
/x64/Debug/recursion.pdb
